.navbar{
  position:relative;
  top:0;
}
.navv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
    padding-right: 0px;
  }
  
  nav li {
    float: right;
    
  }
  .title{
    float:left;
    font-size: larger;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:black
  }
  li a:hover {
    color: #1DBF73;
  }
  .jobbutton a{
    background-color: #1DBF73;
    color:#FFF;
    font-size: larger;
  }
  .hook{
    position: absolute;
    top:200px;
    left: 70px;
    color: #fff; 
    width:60%
  }
  h1{
    font-size: 5em;
  }
  .SJ{
    border:0px;
    background-color: #1DBF73;
    color: #FFF;
    width: 250px;
    height: 70px;
    font-size: larger;
  }
  .FT{
    border:0px;
    background-color: #461dbf;
    color: #FFF;
    width: 250px;
    height: 70px;
    margin-left: 20px;
    font-size: larger;
  }
  .tick{
    list-style: none;
    
  }
  .tick li:before{
    content:'✓';
    
  }
  ul ,li{
    margin:0;
    padding: 0;
  }
  .join{
    width: 400px;
    left:0%;
  }
  .joblist{
    display: flex;
    flex-direction: column;
  }
  .joboption{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    column-gap: 5px;
  }
  .clientopinion{
    display: grid;
  }