.navbar{
  position:relative;
  top:0;
}
.navv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
    padding-right: 0px;
  }
  
  nav li {
    float: right;
    
  }
  .title{
    float:left;
    font-size: larger;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:black
  }
  li a:hover {
    color: #1DBF73;
  }
  .jobbutton a{
    background-color: #1DBF73;
    color:#FFF;
    font-size: larger;
  }
  .hook{
    position: absolute;
    top:200px;
    left: 70px;
    color: #fff; 
    width:60%
  }
  h1{
    font-size: 5em;
  }
  .SJ{
    border:0px;
    background-color: #1DBF73;
    color: #FFF;
    width: 250px;
    height: 70px;
    font-size: larger;
  }
  .FT{
    border:0px;
    background-color: #461dbf;
    color: #FFF;
    width: 250px;
    height: 70px;
    margin-left: 20px;
    font-size: larger;
  }
  .tick{
    list-style: none;
    padding-left: 30px;
    line-height: 20px;
    
  }
  .tick li:before{
    content:'✓';
    
  }
 
  ul ,li{
    margin:0;
    padding: 0;
  }
  .join{
    width: 400px;
    left:10%;
    
  }
  .join button{
    background-color: #1DBF73;
    height: 50px;width: 150px;
    border-radius: 3px;
    border:none;
    color:white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 35px;

  }
  .browse{
    background-color: #1DBF73;
    height: 50px;width: 200px;
    border-radius: 3px;
    border:none;
    color:white;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 35px;
  }
  .heart{
    width: 30px;height: 30px;
    background-color:#effdf5 ;
    
  }
  .apply{
    background-color: #1DBF73;
    height: 40px;width: 100px;
    border-radius: 3px;
    border:none;
    color:white;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 35px;
  }
  .best{
    padding-left:100px;
    padding-right:100px;
  }
  .joblist{
    display: flex;
    flex-direction: column;
  }
  .joboption{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    column-gap: 5px;
    height: 100px;
    
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin-right:30px;
    margin-left:30px;
    margin-bottom: 20px;
  }
  .clientopinion{
    display: grid;
  }
.container{
  margin-left: 200px;
  width:600px;
  display:grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 10px;
}
.categ {
  
  background-color: #a4cd89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}
.categ:hover{
  background-color: #ccc;

}
.categ img{
  padding-top: 0;
  padding-left: 0;
  width:50px;
  height: 50px;
}
.search{
  margin-top: 0;
  background-color: #1DBF73;
  text-align: center;
  height:100px
}
.searchbut{
  height: 40px;
  width: 300px;
  border: none;
  margin:30px;
  border-radius: 2px;
  padding-left: 10px;
}
.searchbutt{
  height: 40px;
  width: 200px;
  border: none;
  margin:20px;
  border-radius: 2px;
  padding-left: 10px;
  background-color: #063928;
  color:#ffff;
  font-weight: bold;

}
.bodd{
  background-color: #FFF;
  margin-left:70px;
  margin-right: 70px;
  
}
body{
  background-color: #effdf5;
}